apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -o k8s/
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  type: NodePort
  ports:
    - name: "9000"
      port: 9000
      nodePort: 32201 # Exposed to the public 
      targetPort: 3000
  selector:
    io.kompose.service: grafana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: grafana
  name: grafana
  namespace: ahmad-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: grafana
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:11.2.0
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
          ports:
            - containerPort: 3000
          volumeMounts:
            # PVC (your existing storage)
            - name: grafana-data
              mountPath: /var/lib/grafana


      volumes:
        - name: grafana-data
          persistentVolumeClaim:
            claimName: grafana-pvc
