apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-cm0
  namespace: ahmad-monitoring
data:
  vector.toml: |
    [sources.kubernetes_logs]
    type = "file"
    include = ["/var/log/containers/*.log"]
    read_from = "beginning"

    [transforms.to_json]
    type = "remap"
    inputs = ["kubernetes_logs"]
    source = '''
    . = parse_json(.message) ?? {"message": .message}
    '''

    [sinks.loki]
    type = "loki"
    inputs = ["to_json"]
    endpoint = "http://loki:3100"
    encoding.codec = "json"
    out_of_order_action = "accept"
    tenant_id = "fake"
    batch.max_bytes = 512000
    batch.timeout_secs = 2
    request.timeout_secs = 30

    [sinks.loki.labels]
    namespace = "{{ kubernetes.pod_namespace }}"
    pod       = "{{ kubernetes.pod_name }}"
    container = "{{ kubernetes.container_name }}"
