apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ahmad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: backend
          image: ghcr.io/ahmad-jaber20/my-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3002
          envFrom:
            - secretRef:
                name: ahmad-secrets
