name: Deploy STG 
on:
  push:
    branches:
      - main
#    tags:
#      - "dev-*"
#for taggingsss
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      KUBECONFIG_CONTENT: ${{ secrets.KUBE_CONFIG}}  # kubeconfig content as a secret


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up kubectl
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Install kubectl
        run: |
         curl -LO "https://dl.k8s.io/release/v1.29.3/bin/linux/amd64/kubectl"
         chmod +x kubectl
         sudo mv kubectl /usr/local/bin/

      - name: Set up kubeconfig
        run: |
         mkdir -p ~/.kube
         echo "${KUBECONFIG_B64}" | base64 -d > ~/.kube/config
         chmod 600 ~/.kube/config
         kubectl cluster-info

        env:
         KUBECONFIG: ~/.kube/config

      - name: Verify cluster connection
        run: |
         kubectl cluster-info
         kubectl get nodes

      - name: Deploy manifests
        run: |
         kubectl apply -k manifests/staging
